html {
    scroll-behavior: smooth;
}

/* --- Backgrounds --- */
.green-bg {
    background-color: #C8F73A;
}
.gray-bg {
    background-color: #F9F9F9;
}

/* --- Header --- */
.header {
    background-color: #C8F73A !important;
}

.logo-text {
    font-size: 2.5rem !important;
}

.hero-section .headline {
    font-size:3rem;
}
@media only screen and (max-width: 600px) {
    .hero-section .headline {
        font-size:1.8rem;
    }
}

/* --- Texts --- */
.text {
    color: #6B6B6B;
    font-size: 1.1em;
}
h2 {font-size:2.5rem !important}

/* --- Buttons --- */
#join-waiting-list {
    text-align: center;
}

/* --- MailChimp --- */
div#edi-micv7bp{
    font-family: Nunito, Arial, sans-serif;
}
						
#mc_embed_signup{
    background:#C8F73A !important; 
    clear:left !important; 
    font:14px Helvetica,Arial,sans-serif !important; 
}

#mc_embed_signup .button{
    background-color: #dc3545 !important;
    font-family: Nunito, Arial, sans-serif !important;
    font-weight: bold !important;
    font-size: 20px !important;
    height: 50px !important;
    padding: 10px 28px !important;
    border-radius: 30px !important;
}

#mc_embed_signup .button:hover{
    background-color: #97032C !important; 
}

#mc_embed_signup .mc-field-group input{
    font-family: Nunito, Arial, sans-serif;
    font-size: 17px !important;
}

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
    font-family: Nunito, Arial, sans-serif;
}

#mc_embed_signup div.response{
    font-family: Nunito, Arial, sans-serif;
    font-size: 16px !important;
}
